<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Stealth Assassin</title>

	<!-- Ruffle (official) -->
	<script src="https://unpkg.com/@ruffle-rs/ruffle"></script>

	<style>
		html,
		body {
			margin: 0;
			height: 100%;
			background: black;
		}

		#game {
			width: 100%;
			height: 100%;
		}
	</style>

</head>

<body>

	<div id="game">
		<embed src="INSERT HERE INSTER HERE INSERT HERE (swf)" width="100%"
			height="100%">
	</div>

</body>

</html>
